RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
ETA_SERVICE_HOST=eta-service
ETA_SERVICE_PORT=50054
AUTH_SERVICE_URL=http://auth-service:3000
JWKS_URL=https://cognito-idp.ap-southeast-1.amazonaws.com/<your-pool-id>/.well-known/jwks.json
LATE_TTL_MS=300000
