APPOINTMENT_SERVICE_URL=http://appointment-service:3001
AUTH_SERVICE_URL=http://auth-service:3000
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
PATIENT_SERVICE_GRPC=patient-service:50053
DOCTOR_SERVICE_GRPC=doctor-service:50055
QUEUE_SERVICE_GRPC=queue-coordinator-service:50052
PAYMENT_SERVICE_GRPC=stripe-service:50051
JWKS_URL=http://auth-service:3000/api/auth/jwks
PORT=8002
