DOCTOR_SERVICE_GRPC=doctor-service:50055
QUEUE_SERVICE_GRPC=queue-coordinator-service:50052
PATIENT_SERVICE_GRPC=patient-service:50053
AUTH_SERVICE_URL=http://auth-service:3000
APPOINTMENT_SERVICE_URL=http://appointment-service:3001
QUEUE_SERVICE_URL=http://queue-coordinator-service:3002
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
PORT=8004
