APPOINTMENT_SERVICE_URL=http://appointment-service:3001
DOCTOR_SERVICE_URL=http://doctor-service:3006
AUTH_SERVICE_URL=http://auth-service:3000
JWKS_URL=http://auth-service:3000/api/auth/jwks
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
REDIS_URL=redis://redis:6379
PORT=8000
