RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
TWILIO_ACCOUNT_SID=your-twilio-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_PHONE_NUMBER=+1234567890
PATIENT_SERVICE_GRPC_URL=patient-service:50053
AUTH_SERVICE_URL=http://auth-service:3000
PORT=3004
