RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
PORT=3004
# Add any email/SMS provider keys here e.g:
# SENDGRID_API_KEY=your-key-here
# TWILIO_ACCOUNT_SID=your-sid-here
# TWILIO_AUTH_TOKEN=your-token-here
