DATABASE_URL=postgresql://postgres:<password>@<rds-host>:5432/postgres?sslmode=require
PORT=3007
GRPC_PORT=50053
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
S3_BUCKET=esd-smart-clinic-queue-prod-ap-southeast-1
