DOCTOR_SERVICE_GRPC=localhost:50055
QUEUE_SERVICE_GRPC=localhost:50052
PATIENT_SERVICE_GRPC=localhost:50053
AUTH_SERVICE_URL=http://localhost:3000
JWKS_URL=http://localhost:3000/api/auth/jwks
APPOINTMENT_SERVICE_URL=http://localhost:3001
QUEUE_SERVICE_URL=http://localhost:3002
PAYMENT_SERVICE_URL=http://localhost:3008
PATIENT_SERVICE_URL=http://localhost:3007
RABBITMQ_URL=amqp://guest:guest@localhost:5673/
PORT=8004
