DOCTOR_SERVICE_GRPC=localhost:50052
QUEUE_SERVICE_GRPC=localhost:50053
PATIENT_SERVICE_GRPC=localhost:50051
AUTH_SERVICE_URL=http://localhost:8000
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
PORT=8004
